@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>General Knowledge Hub</h1>
    <p class="lead">General Knowledge Hub is a free web framework for getting best practice and solution for several subjects Physics Chemistry, Biology, History, Polity, Geography, Economics as well as Current Affairs .</p>
    <p><a href="https://localhost:44385/" class="btn btn-primary btn-lg">Getting Started &raquo;</a></p>
</div>

<div class="row">
    <div id="SubjectImages">
        <br /><br />
        <img src="~/Photo/Free Mock.jpg" height="200" width="400" />
        <br /><br /><h2>Subjects</h2>

        <br /><br /><h3>Physics</h3><br />
        <img src="~/Photo/Physics.jpg" height="200" width="400" />
        <br /><br /><h3>Chemistry</h3><br />
        <img src="~/Photo/Chemistry.jpg" height="200" width="400" />
        <br /><br /><h3>Biology</h3><br />
        <img src="~/Photo/Biologyy.jpg" height="200" width="400" />
        <br /><br /><h3>History</h3><br />
        <img src="~/Photo/History.jpg" height="200" width="400" />
        <br /><br /><h3>Geography</h3><br />
        <img src="~/Photo/Geography.jpg" height="200" width="400" />
        <br /><br /><h3>Polity</h3><br />
        <img src="~/Photo/Constitution.jpg" height="200" width="400" />
        <br /><br /><h3>Economics</h3><br />
        <img src="~/Photo/Economic.jpg" height="200" width="400" />
        <br /><br /><h3>Sports</h3><br />
        <img src="~/Photo/Sports.jpg" height="200" width="400" />
        <br /><br /><h3>Current Affairs</h3><br />
    </div>
    <div class="col-md-4">
        <h2>Get Free Practice</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Download Free PDF</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clear Doubts</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>